<div class=" p-5">
  <h1 class="text-4xl sm:text-7xl text-center text-white font-black">Pomodoro Pro</h1>
  <h3 class="text-base sm:text-2xl text-center text-zinc-200 font-extralight mb-5">
    Aumenta tu Productividad con Estilo
  </h3>

  <app-pomodoro-timer></app-pomodoro-timer>
  <div
    class="sm:w-4/5 m-auto md:w-2/3 lg:w-1/2 xl:w-1/3 p-3 rounded mt-3 flex flex-col justify-center items-center"
  >
    <p class="font-black text-lg sm:text-2xl tracking-wide text-white">-- Mi desafío 🐱‍👤 --</p>
    <p class="parrafoDesafio text-zinc-900/90 font-black sm:text-lg tracking-wide w-full  text-center">
      {{globalService.taskDesafio.title ? globalService.taskDesafio.title : 'No hay desafíos 😪'}}
    </p>
  </div>
  <app-task-list></app-task-list>
</div>
